/* CSS Document */

.main_content{
	width:980px;
	height:auto;
	overflow:hidden;
	background-color:#fff;	
}

.content_top{
	width:100%;
	height:100px;
	margin-top:36px;
	text-align:center;	
}
.content_top h1{
	margin:0 auto;
	margin-bottom:10px;
	color:#666;
}
.content_info{
	width:80%;
	margin-left:120px;
}
.content_info p{
	float:left;
	margin-left:50px;	
}
.content{
	margin:10px 10px;
	margin-bottom:30px;	
}
.pages{padding:15px 0;
	text-align:center;
	font-size:12px;
}

.pages a{display: inline-block;
height: 28px;
line-height: 28px;
border: 1px solid #E8E8E8;
background-color: #F6F6F6;
color: #9F9F9F;
padding: 0px 12px;
margin: 0px 4px;
border-radius:4px;
text-decoration:none;
	
}
.pages a.current{background:#EF4C79;color:#fff;}

.pages a:hover{border:1px solid #EF4C79;text-decoration:none;}
.tags p{font-size:13px;margin-left:57px;margin-bottom:20px;font-family:"SimSun";}
.tags p span{padding-right:10px;}
.tags p span a{color:#9F9F9F;display:inline-block;background:#F6F6F6;padding:3px 5px;text-decoration:none;}

.tags p span a:hover{background:#9F9F9F;color:#fff;}
.recommend{
	width:990px;
	height:auto;
	margin-top:10px;
	margin-bottom:10px;	
}

.recommend p{
	width:980px;
	height:32px;
   color:#EF4C79;
   font-size:22px;
   border-left:6px solid rgba(116,174,0,0.5);
   border-radius:5px;
   line-height:32px;margin-top:10px;
}
.recommend p span{
	float:left;
	margin-left:12px;
	font-weight:600;
	font-weight:normal;
}

.recommend ul li{
	float:left;
	width:188px;
	height:294px;
	margin:10px 10px 0 0;
	background-color:#fff;	
}
.recommend li img{
	width:168px;
	height:248px;
	margin:10px 10px 5px 10px;	
}
.text{
	margin:0 10px;
}




