*{margin:0;padding:0;list-style:none;font-family:"microsoft yahei";}
.head{background:#000;height:60px;margin-bottom:20px;}
.head1{width:980px;margin:0 auto;height:60px;}
.head1 img{float:left;}
.nav{float:left;}
.nav ul li{float:left;color:#fff;line-height:60px;margin-left:20px;}

.nav ul li a{color:#999;text-decoration:none;display:block;width:70px;font-size:15px;text-align:center;}
.nav ul li:first-child{margin-left:0;}

.nav ul li a:hover{background:#EF4C79;color:#fff;}
.search{height:60px;float:right;line-height:60px;position:relative;}
.search input{background:#666;border:0px none;border-radius:5px;height:30px;opacity:0.8;color:#9F9F9F;}
.search input.txt{width:220px;padding-left:10px;font-size:13px;}
.search input.sub{width:40px;left:190px;position:absolute;top:16px;}



